<body>
<div class="container">
  <div class="header">
    <div class="user-info">
      <p>{{ loggedInUser?.username }}</p>
      <p>{{ loggedInUser?.userType }}</p>
    </div>
  </div>
  <div class="form">
    <h3>Loan-ely: Framework de Gerência de Empréstimos </h3>
    <p>
      Bem-vindo ao Loan-ely, um framework de gerência de empréstimos de produtos, que combina a potência do Spring Boot e a usabilidade do Angular.
      Com o Loan-ely, estamos redefinindo o modo como os empréstimos funcionam e interagem com seus clientes.
    </p>
    <h3> O que é o Loan-ely?</h3>
    <p>
      O Loan-ely é um framework solução abrangente criado para modernizar a gestão de empréstimos. Foi um framework desenvolvido por um aluno para a disciplina de Projeto Detalhado
      de Software no Instituto Metrópole Digital.
    </p>
  </div>
</div>


</body>
<p-toast></p-toast>
