<div class="container">
  <p-confirmPopup
    [style]="{
        'width': '200px',
        'font-family': 'Poppins',
        'padding': '5px',
        'font-size': '14px',
        'border-radius': '9px',
        'background-color': 'white',
        'color': 'black',
        'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)'
    }">
  </p-confirmPopup>

  <div class="form-table">
    <div class="page-title">
      Listagem de Livros
      <button class="addButton" (click)="NavigateOnClick()">Adicionar</button>
    </div>
    <div class="separator"></div>
  <div class="table-responsive styled-table" style="margin-bottom: 100px; max-height: 600px; overflow-y: auto;">
    <p-table class="" dataKey="id" [value]="listaLivros" [lazy]="true" [rowHover]="true" [lazyLoadOnInit]="false" (onLazyLoad)="paginacao($event)"
             [rows]="size" [totalRecords]="totalRecords" [showCurrentPageReport]="true" (onPage)="onPageChange($event)"
             [globalFilterFields]="['titulo', 'autor', 'quantidadeDisponivel']">
      <ng-template pTemplate="header">
        <tr class="table-header">
          <th pSortableColumn="titulo"> Título <p-sortIcon field="titulo"></p-sortIcon></th>
          <th pSortableColumn="autor"> Autor <p-sortIcon field="autor"></p-sortIcon></th>
          <th pSortableColumn="quantidadeDisponivel"> Quantidade Disponível <p-sortIcon field="quantidadeDisponivel"></p-sortIcon></th>
          <th> Ações </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr class="table-row">
          <td>{{ item.titulo}}</td>
          <td>{{ item.autor }}</td>
          <td>{{ item.quantidadeDisponivel }}</td>
          <td>
            <button class="pi pi-pencil btn btn-sm btn-icon btn-active-light-primary edit-button"
                    (click)="editItem(item)"> Editar
            </button>
            <button class="pi pi-trash btn btn-sm btn-icon btn-active-light-primary delete-button"
                    (click)="confirmarRemocao($event, item)"> Excluir
            </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
    <div class="flex-auto">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="size" [totalRecords]="totalRecords"></p-paginator>
    </div>
</div>
</div>
<p-toast></p-toast>
