<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">
      Biblicron
    </span>
  </div>
</div>

<div class="title-separator"></div>

<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/pagina-inicial"
     title="Link de acesso à página inicial"
     routerLinkActive="active">
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Página Inicial
    </span>
  </a>
</div>

<div class="separator"></div>

<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/pagina-livros"
     title="Link de acesso à página de livros">
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Livros
    </span>
  </a>
</div>

<div class="separator"></div>

<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/pagina-emprestimos"
     title="Link de acesso à página de empréstimos">
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Empréstimos
    </span>
  </a>
</div>

<div class="separator"></div>

<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/pagina-usuarios"
     title="Link de acesso à página de usuários"
     >
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Usuários
    </span>
  </a>
</div>

<div class="menu-item" style="margin-top: 10px">
  <a class="menu-link without-sub"
     routerLink="/pagina-estipular-paginas"
     title="Link de acesso à página de estipulação de prazo por páginas"
  >
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Estipular Prazo por Páginas
    </span>
  </a>
</div>

<div class="menu-item" style="margin-top: 10px">
  <a class="menu-link without-sub"
     routerLink="/pagina-estipular-dias"
     title="Link de acesso à página de estipulação de prazo por dias"
  >
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2">
      </span>
    </span>
    <span class="menu-title">
      Estipular Prazo por Dias
    </span>
  </a>
</div>

  <div class="menu-item logout">
    <button class="logout-button" (click)="logout()">Log Out</button>
  </div>
