.container{
  display: flex;
  margin-left: 190px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-table{
  margin: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  min-width: 500px;
}

.page-title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between; /* Para alinhar o botão à direita */
  align-items: center; /* Para centralizar verticalmente os itens */
}

.addButton {
  font-family: 'Poppins', sans-serif; /* Se desejar aplicar a mesma fonte */
  background-color: #357808;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.addButton:hover {
  background-color: #1976d2;
}

.separator {
  height: 2px; /* Altura da linha separadora */
  background-color: #ddd; /* Cor de fundo da linha separadora */
  margin: 20px 0; /* Espaçamento acima e abaixo da linha separadora */
}

.button{
  width: 50px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-header {
  background-color: #357808;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.table-row{
  border-bottom: 1px solid #dddddd;
}

.table-row:nth-of-type(even) {
  background-color: rgba(114, 114, 114, 0.07);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #25376c;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #25376c;
}

.edit-button, .delete-button {
  background-color: #4CAF50; /* Cor verde */
  color: #fff; /* Cor da fonte branca */
  padding: 5px 10px; /* Espaçamento interno */
  margin: 5px; /* Margem à direita para separar os botões */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s, color 0.3s; /* Efeito de transição para hover */
}

.edit-button:hover, .delete-button:hover {
  background-color: #6fa9d6; /* Cor azul claro no hover */
}
